.privacyBox {
  padding: 20px 50px;
}

.heading {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.privacyBox p {
  line-height: 30px;
}

.privacyBox p,
ul {
  font-size: 18px;
}

.privacyBox ul li {
  padding: 5px 0px;
}

.privacyBox ol li {
  list-style-type: none;
  font-size: 18px;
  padding: 5px 0px;
  margin-left: -40px;
}